<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.main.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.main.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.main.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>controller.admins.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServiceController</servlet-name>
        <servlet-class>controller.admins.ShowServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDoctorController</servlet-name>
        <servlet-class>controller.admins.ShowDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTypeController</servlet-name>
        <servlet-class>controller.admins.ServiceTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctor_Admin</servlet-name>
        <servlet-class>controller.admins.UpdateDoctor_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorController</servlet-name>
        <servlet-class>controller.admins.DeleteDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctorController</servlet-name>
        <servlet-class>controller.admins.SearchDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorController</servlet-name>
        <servlet-class>controller.admins.AddDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>controller.admins.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPatientController</servlet-name>
        <servlet-class>controller.admins.ShowPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientController</servlet-name>
        <servlet-class>controller.admins.SearchPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientController</servlet-name>
        <servlet-class>controller.admins.UpdatePatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>controller.admins.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.main.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServiceController</servlet-name>
        <url-pattern>/ShowServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTypeController</servlet-name>
        <url-pattern>/ServiceTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDoctorController</servlet-name>
        <url-pattern>/ShowDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctor_Admin</servlet-name>
        <url-pattern>/UpdateDoctor_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorController</servlet-name>
        <url-pattern>/DeleteDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoctorController</servlet-name>
        <url-pattern>/SearchDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorController</servlet-name>
        <url-pattern>/AddDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/SearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPatientController</servlet-name>
        <url-pattern>/ShowPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientController</servlet-name>
        <url-pattern>/SearchPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientController</servlet-name>
        <url-pattern>/UpdatePatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/AddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
